.infoBox {
	flex: 1;
	cursor: pointer;
}

.infoBox:hover {
	background-color: rgba(58, 57, 57, 0);
	transition: all 0.7s;
}

.infoBox:not(:last-child) {
	margin-right: 10px;
}

.infoBox_cases {
	color: #cc1034;
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}

.infoBox_total {
	color: #6c757d;
	font-weight: 700 !important;
	font-size: 0.8rem !important;
	margin-top: 5px !important;
}

.infoBox-selected {
	border-top: 10px solid greenyellow;
}

.infoBox-red {
	border-color: red;
}

.infoBox-black {
	border-color: #292929;
}

.infoBox_cases-green {
	color: lightgreen !important;
}

.infoBox_cases-black {
	color: #292929 !important;
}
